---
import ChatPanel from "./consulting/ChatPanel.astro";
import ConsultingSite from "./consulting/ConsultingSite.astro";
import "../styles/binary-consultant.css";
---

<main class="page" id="page">
  <canvas id="binary-canvas" aria-hidden="true"></canvas>

  <button
    class="go-site-hotspot"
    id="go-site-hotspot"
    type="button"
    aria-label="Go to site"
  ></button>

  <ChatPanel />
  <ConsultingSite />
</main>

<script is:inline src="/scripts/binary-consultant.js"></script>
